/* css styles */

p {
	font-family: 'Space Grotesk', 'DM Sans', 'Arial', sans-serif;
	font-weight: 400;
}

body {
	font-family: 'Space Grotesk', 'DM Sans', 'Arial', sans-serif;
	font-weight: 400;
}

code {
	font-family: 'JetBrains Mono', 'DM Mono', monospace;
}

pre > code {
	font-family: 'JetBrains Mono', 'DM Mono', monospace;
}

h1 {
	font-family: 'Barlow Condensed', sans-serif;
}

h2 {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.9rem;
}

h3, h4, h5, h6 {
	font-family: 'Barlow Condensed', sans-serif;
}

h3 {
	color: darkslategray;
}

.listing-title {
	font-family: 'Space Grotesk', 'DM Sans', 'Arial', sans-serif;
	font-weight: 600;
	/* font-size: 1.1rem; */
	color: black;
}

.listing-subtitle {
	font-size: 0.9rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.quarto-grid-item .listing-categories .listing-category {
	font-size: 0.75rem;
}

.quarto-title .quarto-categories .quarto-category a {
	font-size: 1.2em;
}

.category {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 0.9rem;}

.quarto-title p.subtitle {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
}

.callout.callout-style-default > div.callout-header {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.1rem;
	font-weight: 600;
}

/* a.sidebar-item-text.sidebar-link.text-start {
	font-size: 1.1rem;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

a.sidebar-item-text.sidebar-link.text-start > * > * > a.sidebar-item-text.sidebar-link.text-start{
	font-size: 1rem;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
} */

.navbar-logo {
	max-height: 50px;
}

.navbar-title {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-size: 2em;
}

.callout.callout-style-default > .callout-body {
	font-size: 1.0rem;
}

.img-fluid {
	margin-bottom: 10px;
}

@media print {
	#quarto-header {
		visibility: hidden !important;
		display: none !important;
	}

	/* main#quarto-document-content.content {
		overflow: visible;
	} */
}